*{
    margin: 0;
    box-sizing: border-box;
}
/* 
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}

img{
    animation-name: sachin;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes sachin{
    from{
        height: 100px;
        transform: rotate(0deg);
        filter: blur(2px);
    } to{
        height: 500px;
        transform: rotate(360deg);
    }
}

img{
    height: 180px;
    border-radius: 50%;
} */

/* body{
    height: 100vh;
    animation: lights 800ms ease 0s infinite alternate;
}

@keyframes lights {
0%{
    background-color: red;
}
20%{
    background-color: aqua;
}
40%{
    background-color: brown;
}
60%{
    background-color: green;
}
80%{
    background-color: pink;
}
} */

#img-container{
    height: 470px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    animation: lights 50s linear 2s infinite alternate;
}

/* #anushka{
    height: 470px;
    width: 500px;
}

#samantha{
    height: 470px;
    width: 500px;
} */

#sai_pallavi{
    height: 470px;
    width: 500px;
}
@keyframes lights {
    0%{
        transform: translateX(150%);
        animation-delay:5s
    }
    25%{
        transform: translateX(-100%);
        animation-delay:5s;
    }
    50%{
        transform: translateX(-200%);
        animation-delay: 5s;
    }
    75%{
        transform: translateX(-300%);
        animation-delay: 5s;
    }
    100%{
        transform: translateX(-300%);
        animation-delay: 5s;
    }
    
}