*{
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

h1{
    height: 300px;
    width: 300px;
    border: 10px red solid;
    background-color: pink;
    margin-top: 150px;
    margin-left: 500px;
    padding: 40px;
    box-shadow: 20px 20px 20px blue, 40px 40px 40px green, 60px 60px 60px orange,
    -20px 20px 20px darkblue, 40px -40px 40px darkgreen, -30px -30px 30px hotpink;
    border-radius: 50%;
}