*{
    margin: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    width: 100vw;
    display: grid;
    /* background-color: yellow; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

div{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.one{
    background-color: red;
    grid-column: 1/4;
    grid-row: 1/2;
}

.two{
    background-color: blue;
    grid-column: 1/2;
    grid-row:2/4;
}

.three{
    background-color: yellow;
    grid-column: 2/3;
    grid-row: 2/3;
}

.four{
    background-color: green;
    grid-column: 3/4;
    grid-row: 2/3;
}

.five{
    background-color: brown;
    grid-column: 2/4;
    grid-row: 3/4;
}